@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950;
    @apply text-white min-h-screen;
    @apply antialiased;
  }
}

@layer utilities {
  .card-surface {
    @apply bg-slate-900 border border-slate-700;
  }

  .card-surface-hover {
    @apply bg-slate-900 border border-slate-700 hover:bg-slate-800 hover:border-slate-600;
  }

  .input-surface {
    @apply bg-slate-800 border border-slate-700;
  }
}
